* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos generales */
body {
  background-color: rgba(187, 187, 187, 0.836);
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  color: whitesmoke; }

header {
  background-color: #343132;
  padding: 5px;
  text-align: center; }
  header .lobo {
    width: 100px;
    height: auto; }
  header .lobo:hover {
    transform: rotatey(180deg);
    opacity: 0.2;
    filter: blur(10px);
    filter: grayscale(30%); }
  header .nav-item {
    background-color: #7c336a;
    border-radius: 2.5%;
    padding: 0.1rem;
    margin: 0.2rem;
    font-size: 1rem; }
  header .nav-link {
    font-size: 1.3rem;
    color: whitesmoke; }

main .carousel {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

main .div-x {
  background-color: #343132;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1.5rem; }

main .div-p {
  background-color: #343132;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

main .div-v {
  display: grid;
  justify-content: center; }

main .video {
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: auto; }

main .div-img {
  display: grid;
  justify-content: center; }

main .imagenes-p {
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: auto; }

main .div-mapa {
  display: grid;
  justify-content: center;
  margin: 1.5rem; }

main .mapa {
  width: 100%; }

main li {
  list-style: none; }

main .comentarios {
  background-color: #2e2edf;
  border-radius: 3%;
  margin: 0.5rem;
  padding: 0.5rem; }

main .contenedor {
  display: grid;
  justify-content: center;
  grid-template-columns: 1, 25%;
  grid-template-rows: 4, 30%;
  grid-template-columns: 70%; }

main .hijos {
  background-color: #343132;
  margin: 1rem;
  border-radius: 2.5%; }

main .hijos:hover {
  opacity: 0.2;
  filter: blur(10px);
  filter: grayscale(30%); }

main .img-grid {
  width: 100%;
  height: auto;
  padding: 1rem; }

main .ul-li {
  text-align: center;
  margin: 0.5rem; }

main .img-clientes {
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  border-radius: 5%; }

footer .div-pie {
  background-color: #343132;
  padding-top: 0.5rem; }

footer .pie {
  text-align: center;
  padding: 1rem; }

/* estilos de tablet */
@media screen and (min-width: 600px) {
  main .contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%); } }

/* estilos de pc */
@media screen and (min-width: 1024px) {
  header #navbarNav {
    display: grid;
    justify-content: right; }
  header .nav-item {
    background-color: #343132; }
  main .contenedor {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 100%); }
  .av-kp {
    display: grid;
    justify-content: center; }
  .carousel-item {
    width: 1024px;
    height: auto; }
  .div-v {
    display: grid;
    justify-content: center; } }
